  <!-- Books-showcase -->
  <section class="books-view">
    <ul class="Books-showcase">
      <li>
        <figure class="book-photo">
          <img src="../../../assets/Book-1.jpg" alt="fist book">
        </figure>
      </li>
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-2.jpg" alt="two book">
        </figure>
      </li>
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-3.jpg" alt="three book">
        </figure>
      </li>
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-4.jpg" alt="four book">
        </figure>
      </li>
    </ul>
    <ul class="Books-showcase">
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-5.jpg" alt="five book">
        </figure>
      </li>
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-6.jpg" alt="six book">
        </figure>
      </li>
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-7.jpg" alt="seven book">
        </figure>
      </li>
      <li>
        <figure class="book-photo">
          <img src="../../../assets/book-8.jpg" alt="eight book">
        </figure>
      </li>
    </ul>
</section>