
    <!-- 1st section -->
    <section class="about p-5  bg-light bg-gradient">
        <div class="container d-flex">
            <div class="row">
                <div class="col">
                    <div class="ico">
                        <i class="far fa-hand-peace fa-4x"></i>
                    </div>
                    <div>
                        <h5>Endless Possibilities</h5>
                        <p>Lorem ipsum dolor sit adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.</p>
                    </div>
                </div>
                
                <div class="col">
                    <div class="ico">
                        <i class="far fa-hand-paper fa-4x"></i>
                    </div>
                    <div>
                        <h5>Endless Possibilities</h5>
                        <p>Lorem ipsum dolor sit adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="ico">
                        <i class="far fa-hand-rock fa-4x"></i>
                    </div>
                    <div>
                        <h5>Endless Possibilities</h5>
                        <p>Lorem ipsum dolor sit adipiscing elit.Aenean commodo ligula eget dolor. Aenean massa.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>